body {
    font-size: 50px;
}


.text-center {
    text-align: center;
}

.out-1 {
    text-align: center;

}


#out {
    text-align: center;
}

.header {
    text-align: center;
}

p {
    text-align: center;
}